
.app {
  text-align: center;
  vertical-align: middle;
  height: 100vh;
  background-color: #f2f2f2;
  padding-top: 20px;

}

button:focus {
  outline:0;
}

@font-face {
  font-family:'bubblegum';
  src: url(fonts/bubblegum.ttf);
}

@font-face {
  font-family:'digital';
  src: url(fonts/digital.ttf);
}

@font-face {
  font-family:'space';
  src: url(fonts/space.otf);
}


/* ---------------------------- LANDING PAGE -------------------------------- */

.landing_container {
  position: relative;
  display: inline-block;
}


.start_button{
  position: absolute;
  z-index: 2;
  left:520px;
  top: 302px;
  background-color: #EB4640;
  border: 3px solid white;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
  font-size: 30px;
  /* font-family: 'bubble'; */
}

a {
  text-decoration: none;
}

a:visited {
  color: green;
}

/* --------------------------- GAME PAGE BUTTON------------------------------ */


#game{
  position: absolute;
  margin: auto;
  left:0px;
  top:0px;
  right:0px;
  bottom:0px;
}
.game_button{
  position: absolute;
  margin: auto;
  left: 0px;
  right: 0px;
  width: 520px;
  height: 225px;
  z-index: 1;
  background-color: #43B57B;
  border: 10px solid #1374a4;
  color: white;
  text-decoration: none;
  border-radius: 60px;
  font-family: 'bubblegum';
  letter-spacing: 3px;
  box-shadow: 15px 15px 0px #081c48;
  line-height: 20px;
  font-size: 20px;
}

.game_button:active {
  box-shadow: 5px 5px 0px #081c48;
  transform: translate(10px,10px);
  border: 10px solid #1374a4;
}

/* Individual buttons */
#start {
  top: 145px;
}

#leaderboard {
  top: 230px;
  bottom:0px;
}

#button-start-game-text{
  font-size: 70px;
  margin-top: 50px;
  margin-bottom: 50px;
}

#change-player {
  position: absolute;
  width: 150px;
  height: 150px;
  z-index: 1;
  background-color: #43B57B;
  border: 10px solid #1374a4;
  color: white;
  text-decoration: none;
  border-radius: 80px;
  font-family: 'bubblegum';
  letter-spacing: 3px;
  box-shadow: 5px 5px 0px #081c48;
  line-height: 20px;
  font-size: 20px;
  margin-top: 20px;
  top: 690px;
  margin: auto;
  left: 0;
  right: 0;
}

/* --------------------------- MAIN GAME PAGE ------------------------------- */

#game {
  display: inline-block;
  width: 1171px;
  height: 895px;
  /* border: 2px solid red; */
}

/* --------------------- GAME PAGE IMAGE AREA ------------------------------- */

.item{
  position:absolute;
  height: 100px;
  width:100px;
}

.item.active{
  cursor: grabbing;
}

#image_container {
  background-image: url("images/trash_mountain.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 875px;
  width: 900px;
  display: inline-block;
  position: relative;
  border: 10px solid #1374a4;
  border-left: 0px;
  cursor: -webkit-grab;
  border-top-right-radius: 25px;
  border-bottom-right-radius:25px;
}

#item-location-1 {
  display: inline-block;
  position: absolute;
  bottom: 0px;
  left: 75px;
  height: 475px;
  width:700px;
  /* border: 2px solid red; */
}

#item-location-2 {
  display: inline-block;
  position: absolute;
  top: 140px;
  left: 250px;
  height: 250px;
  width:300px;
  /* border: 2px solid red; */
}

/* ------------------------ GAME STATUS AREA -------------------------------- */

#game-status {
  float:left;
  width: 270px;
  height: 875px;
  background-color: #23b581;
  border-top-left-radius: 25px;
  border-bottom-left-radius:25px;
  border: 10px solid #1374a4;
}

#found-box {
  background-image: url("images/empty-box.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 210px;
  height:210px;
  margin-left: auto;
  margin-right: auto;
  z-index:2;
  margin-bottom: 10px;
  margin-top: 10px;
  filter: drop-shadow(5px 5px 5px #222);
  /* border: 2px solid red; */
}

#inner-found-box{
  position: relative;
  width:80px;
  height:80px;
  z-index:3;
  top:63px;
  left: 60px;
}

.found-item {
  z-index: 3;
  width: 40px;
  height:40px;
  padding: 0px;
}

#mission-box {
  /* border: 2px solid red; */
  font-family: 'bubblegum';
  font-size: 22px;
  /* border: 2px solid red; */
}

.mission-item {
  z-index: 3;
  height: 130px;
  padding: 5px;
  filter: drop-shadow(5px 5px 5px #222);
}

.timer {
  position: relative;
  height: 85px;
  width: 200px;
  background-color: #2473A8;
  font-size: 75px;
  margin-bottom: 20px;
  margin-top: 45px;
  font-family: 'digital';
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;
  border-radius: 20px;
  color: white;
  margin-left: auto;
  margin-right: auto;
  padding-top: 8px;
  filter: drop-shadow(5px 5px 5px #222);
  /* border: 2px solid red; */
}


/* ----------------------- WINNING  ---------------------------------------- */

#winning {
  position:relative;
  z-index: 2;
  margin-top:35px;
  height: 0px;
  width: 891px;
  color: #051846;
  font-size: 87px;
  font-weight: bold;
  font-family: 'space';
  /* border: 2px solid red; */
}

#fireworks1{
  z-index: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 300px;
}

#fireworks2{
  z-index: 1;
  position: absolute;
  top: 0px;
  right: 0px;
}

/* ---------------------------- USERS PAGE ----------------------------------- */


#login-form{
  position: absolute;
  margin: auto;
  left:0px;
  top:0px;
  right:0px;
  bottom:0px;
  width: 900px;
  height:860px;
  background-color: #43B57B;
  border: 10px solid #1374a4;
  border-radius: 80px;
  padding-top: 30px;
  padding-top: 30px;
  filter: drop-shadow(10px 10px 10px #222);
}

#login-text {
  font-size: 70px;
  letter-spacing: 3px;
  font-family: 'bubblegum';
  color: white;
  text-decoration: none;
  padding: 20px;
}


input {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 24px;
  box-sizing: border-box;
  height: 60px;
}

input[type=submit] {
  width: 60%;
  background-color: #051846;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 24px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #051846;
}

input[type=submit]:active {
  background-color: #051846;
}

#stuff {
  border-radius: 24px;
}
/*
.add-user {
background-color: #4CAF50;
border: 3px solid white;
color: white;
padding: 10px;
text-align: center;
text-decoration: none;
border-radius: 20px;
font-size: 20px;
} */

/* #enter-user {
font-size: 30px;
}

/* ------------------------- LEADERBOARD PAGE ------------------------------- */
* {
  box-sizing: border-box;
}

#leaderboard-container {
  display: inline-block;
  background-color: #43B57B;
  width: 800px;
  border: 10px solid #1374a4;
  border-radius: 60px;
  height: 700px;
  position: absolute;
  margin: auto;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 20px;
  z-index: 1;
}


#leaderboard-table {
  z-index: 2;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid white;
  border-radius: 60px;
  margin-top: 35px;
}

#leaderboard-title {
  font-size: 80px;
  font-family: 'bubblegum';
  color: #164869;
  margin: 25px;
}

.column {
  float: left;
  width: 300px;
  padding: 10px;
  border-left: 3px solid white;
  border-right: 3px solid white;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
}

.header {
  background-color: #2473A8;
  font-family: 'bubblegum';
  font-size: 20px;
}

.cell {
  background-color: #c0def2;
  font-size: 26px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#left {
  border-top-left-radius: 60px;
}

#right {
  border-top-right-radius: 60px;
}

.bottom.left {
  border-bottom-left-radius: 60px;
}

.bottom.right {
  border-bottom-right-radius: 60px;
}

#back {
  position: relative;
  width: 100px;
  height: 100px;
  z-index: 1;
  background-color: #43B57B;
  border: 10px solid #1374a4;
  color: white;
  text-decoration: none;
  border-radius: 60px;
  font-family: 'bubblegum';
  letter-spacing: 3px;
  box-shadow: 5px 5px 0px #081c48;
  line-height: 20px;
  font-size: 20px;
  margin-top: 20px;
}
