.landing {
  width: 100%;
  height: 850px;
  background-image: url('./images/too_much.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-color: #D6D5C9;
  /* display: table; */
}
.game {
  height: 100vh;
  text-align: center;
  line-height: 100vh;
  background-color: #D6D5C9;
  font-size: 50px;
  font-family: 'Kanit', sans-serif;
}
a {
  text-decoration: none;
}
.button {
  position: absolute;
  top: 70%;
  left: 70%;
  height: 10%;
  width: 15%;
  margin: -15% 0 0 -25%;
  background-color: #D6D5C9;
  font-family: 'Kanit', sans-serif;
  border: 1px solid black;
  color: black;
  padding: 0px;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
  display: inline-block;
  font-size: 50px;
  transition: .5s ease;
  /* top: 270px;
  left: 650px; */
  -webkit-box-shadow:0 0 8px rgba(0,0,0,.40);
  -moz-box-shadow:0 0 8px rgb(153,153,153);
  -o-box-shadow:0 0 8px #999;
  box-shadow:0 0 8px #999999;
  transition-duration: 0.4s;
}
.button:hover {
  -webkit-box-shadow:0 0 8px rgba(0,0,0,.40);
  -moz-box-shadow:0 0 8px rgb(153,153,153);
  -o-box-shadow:0 0 8px #999;
  /* box-shadow:0 0 18px #999999; */
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
