
.app {
  text-align: center;
  height: 100vh;
  background-color: #f2f2f2;
  padding-top: 10px;

}


@font-face {
    font-family:'bubblegum';
    src: url(fonts/bubblegum.ttf);
}

@font-face {
    font-family:'digital';
    src: url(fonts/digital.ttf);
}


/* ---------------------------- LANDING PAGE -------------------------------- */

.landing_container {
  position: relative;
  display: inline-block;
}


.start_button{
  position: absolute;
  z-index: 2;
  left:520px;
  top: 302px;
  background-color: #EB4640;
  border: 3px solid white;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
  font-size: 30px;
  /* font-family: 'bubble'; */
}

a {
  text-decoration: none;
}

a:visited {
    color: green;
}

/* ---------------------------- GAME PAGE ----------------------------------- */

.start_game{
  position: absolute;
  z-index: 4;
  left:520px;
  top: 302px;
  background-color: #43B57B;
  border: 3px solid white;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
  font-size: 30px;
}

.game {
  display: inline-block;
  width: 1165px;
  height: 895px;
  border: 2px solid red;
}

.image_container {
  background-image: url("images/trash_mountain.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 891px;
  width: 891px;
  display: inline-block;
  position: relative;
    border: 2px solid red;
}

.game-status {
  float:left;
  width: 250px;
  height: 875px;
  background-color: #23b581;
  border-top-left-radius: 25px;
border-bottom-left-radius:25px;
  border: 10px solid #1374a4;
}



.found-item {
  z-index: 3;
  width: 40px;
  height:40px;
  padding: 0px;
}

.mission-item {
  z-index: 3;
  height: 130px;
  padding: 5px;
}

.winning {
  color: #2473A8;
  font-size: 56px;
  font-weight: bold;
}

.winning-small {
  color: #2473A8;
  font-size: 45px;
  font-weight: bold;
}

#found-box {
  background-image: url("images/empty-box.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 210px;
  height:210px;
  margin-left: auto;
  margin-right: auto;
  z-index:2;
  margin-bottom: 10px;
  margin-top: 10px;
}

#inner-box{
  position: relative;
  width:80px;
  height:80px;
  z-index:3;
  top:63px;
  left: 60px;
}

#mission-box {
  /* border: 2px solid red; */
  font-family: 'bubblegum';
  font-size: 22px;
}



#item-location-1 {
  display: inline-block;
  position: absolute;
  bottom: 0px;
  left: 75px;
  height: 475px;
  width:700px;
  /* border: 2px solid red; */
}

#item-location-2 {
  display: inline-block;
  position: absolute;
  top: 140px;
  left: 250px;
  height: 250px;
  width:300px;
  /* border: 2px solid red; */
}


.item {
  position: absolute;
  z-index: 3;
  width: 100px;
  height:100px;
}

.timer {
  position: relative;
  height: 85px;
  width: 200px;
  background-color: #2473A8;
  font-size: 75px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-family: 'digital';
  display:-webkit-box;
-webkit-box-pack:center;
-webkit-box-align:center;
border-radius: 20px;
color: white;

    margin-left: auto;
    margin-right: auto;

}


/* ---------------------------- USERS PAGE ----------------------------------- */

.login-container {
  background-color: #f2f2f2;
  height: 100vh;
}

input {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 60%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.login-form {
    border-radius: 5px;
    padding: 40px;
    font-size: 30px;
}

.add-user {
  background-color: #4CAF50;
  border: 3px solid white;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
  font-size: 20px;
}
